<div class="col-md-12"><h1>Game Listing</h1></div>
<br>
	<div class="topRow">
		<div class="col-md-4">
			<p> Hangman</p>
			<div class="gameThumbnail"><%= link_to image_tag("hangmanmovies.png", :size => '260x180'), games_hangman_path %></div>
			
		</div>

		<div class="col-md-4">
			<p> Tic Tac Toe</p>
			<div class="gameThumbnail"><%= link_to image_tag("catsgame.png", :size => '260x180'), games_tictactoe_path %></div>
		</div>

		<div class="col-md-4">
			<p> placeholder</p>
			<div class="gameThumbnail"><%= link_to image_tag("thumbnailPlaceholder.png", :size => '260x180'), games_path %></div>
		</div>
	</div>
	<br>
<div class="col-md-12"><h1></h1></div>
	<br>
		<div class="col-md-4">
				<p> placeholder</p>
				<div class="gameThumbnail"><%= link_to image_tag("thumbnailPlaceholder.png", :size => '260x180'), games_path %></div>
			</div>

			<div class="col-md-4">
				<p> placeholder</p>
				<div class="gameThumbnail"><%= link_to image_tag("thumbnailPlaceholder.png", :size => '260x180'), games_path %></div>
			</div>

			<div class="col-md-4">
				<p> placeholder</p>
				<div class="gameThumbnail"><%= link_to image_tag("thumbnailPlaceholder.png", :size => '260x180'), games_path %></div>
			</div>
		</div>