<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div id="nav">
		<% if current_user %>
			<%= link_to "About Us", information_path %> 
			&#8226;
			<%= link_to "Edit Your Profile", edit_user_path(current_user.id) %>
			&#8226;
			<%= link_to "Games", games_path %>
			&#8226;
			<%= link_to "View Users", users_path %>
			&#8226;
			<%= link_to "Logout", :logout, method: :post %>

		<% else %>
		  &#8226;
		  <%= link_to "Register", new_user_path %> 
		  &#8226;
		  <%= link_to "Login", :login %>
	<% end %>
	</div>
  </div>
</nav>