<header>
  <div class="headerBG">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li class="slideIndicators" data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li class="slideIndicators" data-target="#myCarousel" data-slide-to="1"></li>
        <li class="slideIndicators" data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag("mammothgamesHeader.png", :alt => "Mammoth Games Header") %> 
        </div>

        <div class="item">
          <%= image_tag("hangmanmoviesHeader.png", :alt => "Hangman Movies Header") %>
        </div>

        <div class="item">
          <%= image_tag("catsgameHeader.png", :alt => "Tic Tac Toe Header") %> 
        </div>
      </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" id="arrowLeft">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" id="arrowRight">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
      <nav>
	<div class="container">
    	<ul class="nav navbar-nav navbar-center" id="topNav">
        <li><a href="remoteContent.html" data-toggle="modal" data-target="#myModal" class="btn btn-default"> About Us</a></li>
        <li class="bulletPoint">&#8226;</li>
			<% if current_user %>
				<li><%= link_to '<button type="button" class="navbarButton">Edit Profile</button>'.html_safe, edit_user_path(current_user.id) %></li>
				<li class="bulletPoint">&#8226;</li>
				<li><%= link_to '<button type="button" class="navbarButton">Games</button>'.html_safe, games_path %></li>
				<li class="bulletPoint">&#8226;</li>
				<li><%= link_to '<button type="button" class="navbarButton">Users</button>'.html_safe, users_path %></li>
				<li class="bulletPoint">&#8226;</li>
				<li><%= link_to '<button type="button" class="navbarButton">Logout</button>'.html_safe, :logout, method: :post %></li>

			<% else %>

			 	<li><%= link_to '<button type="button" class="navbarButton">Register</button>'.html_safe, new_user_path %> </li>
			 	<li class="bulletPoint">&#8226;</li>
			 	<li><%= link_to '<button type="button" class="navbarButton">Login</button>'.html_safe, :login %></li>
			<% end %>
		</ul>
	</div>
      </nav>

    </div>
  </div>
  <!-- Default bootstrap modal example -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">About Us</h4>
          </div>
          <div class="modal-body">
            A placeholder to discuss all the neat things about our site
          </div>
          <div class="modal-footer">
            <button type="button" class="navbarButton" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</header>